{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="post text-center">
        <h3 class="p-4">Make a post...</h3>
        <form action="{% url 'new_post' user.id %}" method="post">
        {% csrf_token %}
            {% for field in form %}
                {% if field.name == "body" %}
                <div class="row">
                    <div class="col-3 p-1"><strong>{{field.name|title}}:</strong></div>
                    <div class="col-9 p-1">{{field}}</div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-3 p-1"><strong>{{field.name|title}}</strong></div>
                    <div class="col-9 p-1">{{field}}</div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="text-right">
                <input class="btn-rounded" type=submit value="Post">
            </div>
        </form>
    </div>
    {% endif %}

    <div id="app"></div>

    <div class="pagination">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo; 1</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
        </ul>
      </nav>

    <script type="text/babel">
        function App() {
            const posts = JSON.parse('{{ posts|safe|escapejs }}');
            console.log(posts); 

            const postComponents = posts.map((post, index) => {
                return (
                    <div class="post" key={post.id}>
                        <Post
                            title={post.title}
                            body={post.body}
                            author={post.author}
                            timestamp={post.timestamp}
                            likes={post.likes}
                            key={post.id}
                            id={post.id}
                            liked={post.liked}
                        />
                    </div>
                );
            });
        
            return postComponents; 
        }

        ReactDOM.render(<App />, document.querySelector('#app'));
    </script>   
{% endblock %}