{% extends "network/layout.html" %}

{% block body %}
    <div class="profile_stats">
        <h3 style="marg">@{{profile.username}}</h3>
        <hr color="black" size="10">
        <div class="row marg-top">
            <div class="col-6">Followers:</div>
            <div class="col-6">Following:</div>
        </div>
        <div class="row">
            <div class="col-6">{{profile.followers.count}}</div>
            <div class="col-6">{{profile.following.count}}</div>
        </div>
        {% if user.is_authenticated and user.username != profile.username %}
            {% if check %}
                <div class="row pt-2 justify-content-center">
                    <form action="{% url 'unfollow' user.id profile.id %}">
                        <div class="col-3">
                            <input type="submit" value="Unfollow" class="btn-rounded"></input>
                        </div>
                    </form>
                    <div class="col-3"><button class="btn-rounded">Share</button></div>
                </div>
            {% else %}
                <div class="row pt-2 justify-content-center">
                    <form action="{% url 'follow' user.id profile.id %}">
                        <div class="col-3">
                            <input type="submit" value="Follow" class="btn-rounded"></input>
                        </div>
                    </form>
                    <div class="col-3" href="#"><button class="btn-rounded">Share</button></div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div id="app"></div>

    <script type="text/babel">
        function App() {
            const posts = JSON.parse('{{ posts|safe|escapejs }}');
            const postComponents = posts.map((post, index) => {
                return (
                    <div class="post" key={index}>
                        <Post
                            title={post.title}
                            body={post.body}
                            author={post.author}
                            timestamp={post.timestamp}
                            likes={post.likes}
                        />
                    </div>
                );
            });
        
            return postComponents; 
        }

        ReactDOM.render(<App />, document.querySelector('#app'));
    </script>   

{% endblock %}