{% extends "network/layout.html" %}

{% block body %}
    <div class="profile_stats">
        <h3 style="marg">@{{profile.username}}</h3>
        <hr color="black" size="10">
        <div class="row marg-top">
            <div class="col-6">Followers:</div>
            <div class="col-6">Following:</div>
        </div>
        <div class="row">
            <div class="col-6">{{profile.followers}}</div>
            <div class="col-6">{{profile.following}}</div>
        </div>
    </div>

    <div id="app"></div>

    <script type="text/babel">
        function App() {
            const posts = JSON.parse('{{ posts|safe|escapejs }}');
            const postComponents = posts.map((post, index) => {
                return (
                    <div class="post" key={index}>
                        <Post
                            title={post.title}
                            body={post.body}
                            author={post.author}
                            timestamp={post.timestamp}
                            likes={post.likes}
                        />
                    </div>
                );
            });
        
            return postComponents; 
        }

        ReactDOM.render(<App />, document.querySelector('#app'));
    </script>   

{% endblock %}