{% extends "network/layout.html" %}

{% block body %}
    <div class="profile_stats">
        <h3 style="marg">@{{profile.username}}</h3>
        <hr color="black" size="10">
        <div class="row marg-top">
            <div class="col-6">Followers:</div>
            <div class="col-6">Following:</div>
        </div>
        <div class="row">
            <div class="col-6">{{profile.followers.count}}</div>
            <div class="col-6">{{profile.following.count}}</div>
        </div>
        {% if user.is_authenticated and user.username != profile.username %}
            {% if check %}
                <div class="row pt-2 justify-content-center">
                    <form action="{% url 'unfollow' user.id profile.id %}">
                        <div class="col-3">
                            <input type="submit" value="Unfollow" class="btn-rounded"
                            style="background-color:#d3d3d3; color: black;"></input>
                        </div>
                    </form>
                    <div class="col-3"><button class="btn-rounded">Share</button></div>
                </div>
            {% else %}
                <div class="row pt-2 justify-content-center">
                    <form action="{% url 'follow' user.id profile.id %}">
                        <div class="col-3">
                            <input type="submit" value="Follow" class="btn-rounded"></input>
                        </div>
                    </form>
                    <div class="col-3" href="#"><button class="btn-rounded">Share</button></div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div id="app"></div>
    
    <div class="pagination">
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo; 1</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
        </ul>
      </nav>

    <script type="text/babel">
        function App() {
            const posts = JSON.parse('{{ posts|safe|escapejs }}');
            const postComponents = posts.map((post, index) => {
                return (
                    <div class="post" key={index}>
                        <Post
                            title={post.title}
                            body={post.body}
                            author={post.author}
                            auth_id={post.auth_id}
                            timestamp={post.timestamp}
                            likes={post.likes}
                            key={post.id}
                            id={post.id}
                            liked={post.liked}
                        />
                    </div>
                );
            });
        
            return postComponents; 
        }

        ReactDOM.render(<App />, document.querySelector('#app'));
    </script>   

{% endblock %}